@import "../../Styles/_index.scss";

.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background-color: #dcdad7;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 12px;
    position: absolute;
    left: 130px;
    top: 60px;
    color: black;
  }

  & .nav-menu {
    width: 30%;
    margin-right: 2rem;
    &-items {
      list-style: none;
      @include display(flex, row, nowrap, space-around);
      margin-top: 0;
      margin-bottom: 0;
      width: 100%;
      padding-left: 0px;
      & li {
        line-height: 80px;
        & a {
          text-decoration: none;
          font-size: $fs-s;
          color: black;
          position: relative;
          font-weight: 200;
          letter-spacing: 1px;
          &::before {
            content: "";
            position: absolute;
            height: 0.3rem;
            bottom: 0;
            left: 0;
            width: 0%;
            background-color: red;
            transition: all 0.4s ease;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
  .fas {
    display: none;
    color: black;
  }
}

.logo_icon {
  margin-top: 5px;
  width: 170px;
  height: 170px;
}

//small devices

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    h1 {
      font-size: 9px;
    }
    .nav-menu {
      width: 40%;
    }
  }
}

//tablets

@media (max-width: 768px) {
  .navbar {
    height: 10%;
    h1 {
      font-size: 8px;
      left: 90px;
      top: 40px;
    }
    & .nav-menu {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: $color-bg-primary--darker;
      top: 10%;
      left: -100%;
      transition: all 0.5s ease-out;
      padding-left: 0;
      display: block;
      text-align: center;

      &.active {
        left: 0;
      }

      &-items {
        width: auto;
        display: block;
        margin-top: 0;

        & li a {
          color: white;
          font-size: $fs-s;

          &:hover {
            color: red;
          }
        }
      }
    }

    .fas {
      display: block;
      margin-right: 35px;
      font-size: 40px;
    }
  }

  .logo_icon {
    width: 120px;
    height: 120px;
  }
}

//mobile

@media screen and (max-width: 480px) {
  .navbar {
    height: 7.5%;
    h1 {
      font-size: 6px;
      left: 70px;
      top: 30px;
    }
    & .nav-menu {
      top: 7.5%;
    }
    .fas {
      font-size: 25px;
    }
  }

  .logo_icon {
    width: 90px;
    height: 90px;
  }
}
