@import "../../Styles/_index.scss";

.plan-holder {
    @include display(flex, row, wrap, center);
    margin: 15rem auto 10rem auto;
    text-align: center;
    text-transform: uppercase;
    color: $color-text--black;

    &__content {
         margin:  0 0.7rem;
        &--groups {
            font-size: $fs-l;
        }

        &--price{
            font-size: 5rem;
            margin-top: 0px;
        }

        &--sale {
            text-transform: lowercase;
        }

        .price-sale {
            margin-bottom: 0px;
        }

        
    }
}

//mobile
@media (max-width: 480px) {
    .plan-holder {
        display: block;

        &__content {
            margin: 0;
            &--sale{
                margin-bottom: 70px;
            }
        }
    }
    
}