@import "../../Styles/_index.scss";

.hero {
    padding: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__text {
        flex: 1 1;
        max-width: 600px;
        margin-right: 100px;
        &-head {
            color: $color-text--black;
            text-transform: uppercase;
            font-size: 4.5rem;
            font-family: $font-family-heading;
        }
        &-content {
            color: $color-text--grey;
            font-weight: 200;
        }
        
    }

    &__video{
        flex: 1 1;
        max-width: 600px;
            &-play {
                width: 90% !important;
                height: 90% !important;
                position: relative;
                top: 20px;
                left: 35px;
                & iframe {
                    width: inherit;
                    height: inherit;
                 }
        }
    }
}

//2400px screen

@media screen and (min-width: 2400px){
    .hero {
        &__text {
            height: 500px;
            max-width: 930px;
            &-head{
              font-size: 5.5rem;
            }
            &-content {
                font-size: 2.5rem;
            }
        }

        &__video {
            height: 500px;
            max-width: 930px;
        }
    }
}

//large screen 

@media screen and (max-width: 1500px) {
    .hero {
        display: grid;
        padding: 0;
        margin: 35px 70px 200px 70px;
        &__text {
            margin-right: 0px;
            &-head {
                font-size: 80px;
            }
            &-content {
                font-size: 4rem;
                margin-bottom: 50px;
            }
        }

        &__video{
            &-play {
                height: 360px !important;
                left: 0px;
                & iframe {
                    width: inherit;
                    height: inherit;
                 }
        }
    }
    }
}

//desktops, larger screens
//small screens and laptops

@media screen and (max-width: 1200px) {
    .hero {
        &__text {
            &-content {
                font-size: 2.5rem;
                margin-bottom: 50px;
            }
        }
    }
    
}

//tablets, iPads

@media screen and (min-width: 481px) and (max-width: 768px) {
    .hero {
        &__text {
            &-head {
                font-size: 50px;
            }
            &-content {
                font-size: 2rem;
            }
        }
    }
}

//mobile

@media screen and (max-width: 480px) {
    .hero {
        margin: 35px 70px 100px 70px;
        &__text {
            max-width: 600px;
            &-head {
                font-size: 40px;
            }
            &-content {
                font-size: $fs-s;
            }
        }

        &__video{
            &-play {
                width: 100% !important;
                & iframe {
                    width: inherit;
                    height: inherit;
                 }
        }
    }
    }
    
}