@import "../../Styles/_index.scss";

.images-random {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-auto-rows: 500px;
    grid-auto-flow: dense;
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            width: 100%;
            height: 100%;
            vertical-align: middle;
            display: inline-block;
            object-fit: cover;
        }
    }  
}

@media (min-width: 2200px) {
    .images-random {
        grid-template-columns: repeat(3,auto); 
       }
}

//mobile, iPads, tablets
@media (max-width: 768px) {
   .images-random {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
   }  
}