@import "../../Styles/_index.scss";


header {
 display: flex;
 flex-flow: column nowrap;
 height: 100vh;
}

@media screen and (max-width: 750px) {
    header {
        height: auto;
    }
}

.text-holder {
    height: 40rem;
    background-color: $color-bg-primary--darker;
    padding: 30px 0 20px 70px;
    overflow: hidden; 
}

.row-bg-text {
  line-height: 1;
  text-align: center;
  margin-left: -200px;

  &.info {
    transform: rotate(90deg);
    position: relative;
  }
}

.bg-text{
 font-weight: 800;
 color: transparent;
 -webkit-text-stroke: 0.7px $color-text--grey-darker;
 font-size: 41rem;
 font-family: "Montserrat", sans-serif;

 &.info {
    font-size: 22rem;
 }
}


.video-holder {
    background-image: url("../../images/bjj-dvorana.jpeg");
    background-size: cover;
    height: 65rem;
    text-align: center;

    &__icon {
        position: relative;
        top: 35rem;
        height: 100px;

        &:hover{
            color: grey;
        }
    }

    &__play {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(28, 28, 28, 0.19);
        backdrop-filter: blur(6px);
        opacity: 1;
        z-index: 100;
        &-video {
            z-index: 11;
            width: 800px !important;
            height: 450px !important;
            & iframe {
               width: inherit;
               height: inherit;
            }
           }
    }

    &__close {
        color: black;
        z-index: 12;
        position: relative;
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
        width: 35px;
        height: 35px;
        padding-top: 2px;
        margin-bottom: 10px;
    }
}


.widget {
    @include display(flex, row, nowrap, space-evenly);
    position: relative;
    top: -200px;
    margin: 0 100px;
}

.widget-title {
    font-weight: 900;
    letter-spacing: 1.2px;
    font-size: $fs-m;
}

.quotesContent {
    @include display(flex, row, nowrap, center); 
    margin: 8rem 0 10rem 0;

    & .quote {
        flex-basis: 50%;
        text-align: center;
     & h2 {
        text-transform: uppercase;
        color: $color-text--black;
        font-size: $fs-l;
     }
    }
}

@media (max-width: 1899px) {
    .text-holder{
        display: none;
        overflow-x: hidden;
    } 
}

//laptops, small screen
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .quotesContent{
        display: block;
        margin: 5rem 4rem;

        & .quote {
            padding: 5px;
            & h2 {
                font-size: 20px;
            }
        }
    }

    .video-holder {
        &__play {
            &-video {
                width: 600px !important;
                height: 450px !important;
            }
        }

        &__close {
            width: 30px;
            height: 30px;
           & .fa-2xl {
             font-size: 3rem !important;
           }
        }
}
}

//iPads, tablets
@media screen and (min-width: 481px) and (max-width: 768px) {
    .quotesContent{
        display: block;
        margin: 5rem 4rem;

        & .quote {
            padding: 5px;
            & h2 {
                font-size: 17px;
            }
        }
    }

    .video-holder {
        &__play {
            &-video {
                width: 400px !important;
                height: 350px !important;
            }
        }

        &__close {
            width: 30px;
            height: 30px;
           & .fa-2xl {
             font-size: 3rem !important;
           }
        }
}
}

//mobile
@media screen and  (max-width: 480px) {
    .quotesContent{
        display: block;
        margin: 5rem 4rem;

        & .quote {
            padding: 5px;
            & h2 {
                font-size: 15px;
            }
        }
    }

        .video-holder {
            &__play {
                &-video {
                    width: 300px !important;
                    height: 250px !important;
                }
            }
    
            &__close {
                width: 25px;
                height: 25px;
               & .fa-2xl {
                 font-size: 2rem !important;
               }
            }
}

}

