.hero {
  padding: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero__text {
  flex: 1 1;
  max-width: 600px;
  margin-right: 100px;
}
.hero__text-head {
  color: #181a1b;
  text-transform: uppercase;
  font-size: 5rem;
  font-family: "Anton", sans-serif;
}
.hero__text-content {
  color: #7A7A7A;
  font-weight: 200;
}
.hero__video {
  flex: 1 1;
  max-width: 600px;
}
.hero__video iframe {
  width: 90%;
  height: 90%;
  position: relative;
  top: 20px;
  left: 35px;
}

@media screen and (max-width: 1500px) {
  .hero {
    display: grid;
    padding: 0;
    margin: 35px 70px 200px 70px;
  }
  .hero__text {
    margin-right: 0px;
  }
  .hero__text-head {
    font-size: 80px;
  }
  .hero__text-content {
    font-size: 4rem;
    margin-bottom: 50px;
  }
  .hero__video {
    max-width: 600px;
  }
  .hero__video iframe {
    width: 100%;
    height: 100%;
    left: 0px;
  }
}
@media screen and (max-width: 1200px) {
  .hero__text-content {
    font-size: 2.5rem;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero__text-head {
    font-size: 50px;
  }
  .hero__text-content {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    margin: 35px 70px 100px 70px;
  }
  .hero__text {
    max-width: 600px;
  }
  .hero__text-head {
    font-size: 40px;
  }
  .hero__text-content {
    font-size: 1.6rem;
  }
}