.button-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    font-size: 50px;
    z-index: 9;
    cursor: pointer;
    background-color:  rgba(255,255,255,0.6);
    border: 0;
    border-radius: 50%;
    padding-top: 7px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@media screen and (min-width:769px) and (max-width: 1200px) {
    .button-top { 
        height: 40px;
        width: 40px;
        font-size: 40px;
    }
}

@media screen and (min-width:481px) and (max-width: 768px) {
    .button-top { 
        height: 30px;
        width: 30px;
        font-size: 30px;
        bottom: 35px;
        right: 35px;
    }
}

@media screen and (max-width: 480px) {
    .button-top { 
        height: 25px;
        width: 25px;
        font-size: 20px;
        bottom: 40px;
        right: 40px;
        padding-top: 5px;
    }
}