@import "../../Styles/_index.scss";



.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 5rem;
  text-align: center;
  background: none;
}

.buttonStyle {
  width: 60px;
  background: none;
  border: 1px solid grey;
  border-radius: 60%;
  padding: 12px;
  font-size: 30px;
  color: black;
  text-align: center;
};

.buttonStyle:active {
  color: red;
}

.react-slideshow-container .nav {
  z-index: 2 !important;
}

.react-slideshow-container .nav:first-of-type{
  left: 50px !important;
}

.react-slideshow-container .nav:last-of-type {
  right: 50px !important;
}

.slideOne {
  background-image:url("../../images/slider/sliderOne.jpg") ;
}
  
.slideTwo {
  background-image:url("../../images/slider/sliderTwo.jpg") ;
}
  
.slideThree {
  background-image:url("../../images/slider/sliderThree.jpg") ;
}

//small screens, laptops
@media screen and (max-width: 1024px){
  .slideOne {
    background-image:url("../../images/slider/sliderOne750px.jpg") ;
  }
    
  .slideTwo {
    background-image:url("../../images/slider/sliderTwo750px.jpg") ;
  }
    
  .slideThree {
    background-image:url("../../images/slider/sliderThree750px.jpg") ;
  }
}


//iPads, Tablets

@media screen and (min-width: 517px ) and (max-width: 768px) {

  .buttonStyle {
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 25px;
  }
}

@media screen and (min-width: 481px ) and (max-width: 516px) {
  .each-slide-effect > div {
    height: 60vh;
  }

  .each-slide-effect span {
    font-size: 4rem;
  }

  .buttonStyle {
    width: 35px;
    height: 35px;
    padding: 0;
    font-size: 20px;
  }

  .react-slideshow-container .nav:first-of-type{
    left: 30px !important;
  }
  
  .react-slideshow-container .nav:last-of-type {
    right: 30px !important;
  }
}

//mobile

@media screen and (min-width: 400px ) and (max-width: 480px) {
  .each-slide-effect > div {
    height: 60vh;
    background-size: 100% 100%;
  }
  .each-slide-effect span {
    font-size: 2.5rem;
  }

  .buttonStyle {
    width: 27px;
    height: 27px;
    padding: 0;
    font-size: 15px;
  }

  .react-slideshow-container .nav:first-of-type{
    left: 30px !important;
  }
  
  .react-slideshow-container .nav:last-of-type {
    right: 30px !important;
  }
}

@media screen and (max-width: 399px) {
  .each-slide-effect > div {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .each-slide-effect span {
    font-size: 2rem;
  }
  .buttonStyle {
    width: 22px;
    height: 22px;
    font-size: 10px;
    padding: 0;
  }

  .react-slideshow-container .nav:first-of-type{
    left: 20px !important;
  }
  
  .react-slideshow-container .nav:last-of-type {
    right: 20px !important;
  }
}

  