@import "../../Styles/_index.scss";

.table-holder{
  @include display(flex, column, wrap, stretch);
  align-content: center;
  //height: 70vh;
  margin: 10rem 70px 10rem 70px;

 
  &__text {
     color: black;
     align-self: center;
     text-transform: uppercase;
     font-size: $fs-l;
     text-align: center;
  }
 }

 .table-holder__content-event {
  padding-left: 0;
  color: black;
 }

 .table-holder__content-value {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(198, 195, 190);
  padding-bottom: 7px;
  padding-top: 7px;
 }
 

 .table-holder__content-header {
  text-align: center;
  color: black;
  text-transform: uppercase;
 }

 @media screen and (min-width: 769px ){
  .table-holder__content {
    width: 40%;
    align-self: center;
   }
 }

//large screens and more..
 @media screen and (min-width: 1501px ){
  .table-holder__content {
    width: 40%;
    align-self: center;
   }
 }


 //mobile first
 